body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* header */

div#head {
    border: 1px solid rgb(247, 248, 248);
    height: 70px;
    background-color: rgb(247, 248, 248);
    padding: 0px;
    width: 100%;
    box-shadow: 1px 1px 5px rgb(230, 230, 230);
}

header div#head img {
    height: 40px;
    margin: 0px 0px 0px 30px;
}

div#head1 {
    display: inline-block;
    align-items: center;
    height: 48px;
    background: #fff;
    padding: 0 8px;
    box-sizing: border-box;
    border: 2px solid #002f34;
    width: 272px;
}

input#head1 {
    height: 40px;
    outline: 0;
    border-width: 0;
    font-size: 16px;
    color: #002f34;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    padding: 0 0 0 16px;
}

input#head1::placeholder {
    color: #002f34;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

input#head2 {
    height: 42px;
    outline: 0;
    border: 2px solid #002f34;
    font-size: 16px;
    color: #002f34;
    background: #fff;
    margin: 0px 0px 0px 10px;
    width: 661.14px;
    padding: 0px 8px;
}

div#head2 {
    display: inline-block;
    background-color: rgb(42, 101, 234);
    border: 0px;
    padding: 10px 15px;
    margin: 0px;
}

div#head3 {
    color: rgb(42, 101, 234);
    display: inline-block;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 30px;
}

div#head4 {
    background-color: rgb(42, 101, 234);
    color: white;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 30px;
}
#images img{
    height: 300px;;
}

/* header */